aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
clickclick==20.10.2
connexion==2.12.0
cryptography==36.0.1
Flask==2.0.2
Flask-Cors==3.0.10
frozenlist==1.2.0
idna==3.3
inflection==0.5.1
isodate==0.6.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
jwt==1.3.1
MarkupSafe==2.0.1
multidict==5.2.0
openapi-schema-validator==0.2.0
openapi-spec-validator==0.3.1
pycparser==2.21
pyrsistent==0.18.0
PyYAML==5.2b1
requests==2.27.1
six==1.16.0
swagger-parser==1.0.2
swagger-spec-validator==2.7.4
swagger-spec-validator3==3.0.4
swagger-ui-bundle==0.0.9
typing_extensions==4.0.1
urllib3==1.26.8
Werkzeug==2.0.2
yarl==1.7.2
mysql-connector-python~=8.0.27
argon2~=0.1.10
argon2-cffi~=21.3.0
PyJWT~=2.3.0
redis~=4.1.0
